<section class='p-4 bg-light'>
  <h1 class='text-secondary text-center text-success'>HASTA LA PROXIMA {{usuario}}</h1>
  <button type='button' class='btn btn-outline-danger'><a href='/' style='text-decoration: none;'>Volver al inicio</a></button>
</section>