<h2>Gracias por usar mi pagina, hasta la proxima.</h2>
<p>Será redirigido a la página de inicio de sesión.</p>

<script>
    setTimeout( () => {
        document.location.href="/api/usuario/login";
    }, 2000)
</script>