<section>
  <h1 class='text-secondary text-center text-success'>Error en el Inicio de Sesion :(</h1>
  <h2 class='text-secondary text-center'>Vuelve a intentarlo</h2>
  <button type='button' class='btn btn-outline-success'><a href='./login' style='text-decoration: none;'>Log In</a></button>
</section>