<section>
  <h1 class='text-secondary text-center text-success'>Error en el Registro de Usuario :(</h1>
  <button type='button' class='btn btn-outline-success'><a href='./signup' style='text-decoration: none;'>Sign Up</a></button>
</section>