<section>
  <h1 class='text-secondary text-center text-success'>Error al encontrar la ruta :(</h1>
  <button type='button' class='btn btn-outline-success'><a href='./login' style='text-decoration: none;'>Log In</a></button>
</section>